.parallax{
  background-image: url('https://images.pexels.com/photos/7989226/pexels-photo-7989226.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}