<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Sejam bem vindos ao blog!</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <p class="text-center">
        Existem diversos tipos de estrelas. Essa designação depende de duas
        coisas: da classificação espectral, que diz respeito à temperatura da
        estrela e ao tamanho e massa da estrela. A classificação espectral é
        dada em cores. Em ordem crescente de temperatura, temos as estrelas
        vermelhas, laranjas, amarelas, amarelas-brancas, brancas, azuis-brancas
        e azuis. Confira a imagem abaixo sobre a evolução das estrelas: Essa
        definição de cores diz respeito ao pico de frequência emitida pela
        estrela e a relacionada à temperatura de emissão de corpo negro. Como as
        estrelas produzem quase todas as frequências de radiação
        simultaneamente, ao olho humano todas parecem-se esbranquiçadas ao serem
        vistas a olho nu. Confira alguns dos mais importantes tipos de estrelas
        que existem: Estrelas azuis: São estrelas extremamente quentes, a
        temperatura de sua superfície pode atingir 30.000 K, são estrelas muito
        “novas” em comparação com os demais tipos de estrelas. A maioria dessas
        estrelas foi criada há menos 40 milhões de anos. Anãs amarelas: Assim
        como o Sol, essas estrelas são muito antigas, existindo há bilhões de
        anos. O futuro dessas estrelas é o de se tornar uma gigante vermelha.
        Anãs vermelhas: São as estrelas mais comuns, representam cerca de 73%
        das estrelas do Universo. Seu brilho é fraco, são estrelas pouco
        massivas. Gigantes azuis: São estrelas de temperaturas superiores a
        10.000 K, muito massivas, podendo apresentar até 250 vezes a massa do
        Sol. Supergigantes azuis: São raras, extremamente quentes e brilhantes,
        podem apresentar até mil vezes a massa solar. Anãs brancas: Essas
        estrelas são formadas pelos núcleos de outras estrelas que ejetaram suas
        camadas externas, essas estrelas já não produzem mais fusões nucleares e
        comumente rotacionam em torno de seus eixos com velocidades muito altas.
        Estrelas de nêutrons: São estrelas que foram tão comprimidas que todos
        os seus prótons e elétrons ejetaram-se em razão da repulsão elétrica.
        São muito pequenas, têm entre 5 e 15 km de raio e suas temperaturas
        excedem centenas de milhares de graus Celsius.
      </p>
    </div>
  </div>

  <div class="parallax"></div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark" routerLink="/feed">
        Ver o feed
      </button>
    </div>
  </div>
</div>
