<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card border-0" style="width: 18rem">
        <div class="d-flex justify-content-center">
          <img
            class="card-img-top rounded-circle w-75"
            src="../../assets/perfil.jpg"
            alt="userpic"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title text-center">Pink writter</h5>
          <p class="card-text">Desenvolvedor web-FullStack</p>
          <a
            href="https://github.com/JCAmorim11"
            target="_blank"
            class="btn btn-outline-dark justify-content-center d-flex"
            >GitHub</a
          >
          <hr class="mt-4 mb-4" />
          <h6 class="mb-3 text-monospace text-center">Pesquisar por titulo</h6>
          <input type="text" class="form-control mb-3 w-100" />
          <button class="btn btn-outline-warning w-100">Pesquisar</button>
        </div>
      </div>
    </div>

    <div class="col-md-8 mt-2">
      <div>
        <h3 class="text-center mb-4 text-monospace">
          Digite abaixo os seus comentários:
        </h3>
        <div class="form-group">
          <label for="titulo" class="text-monospace"> Titulo: </label>
          <input
            type="text"
            id="titulo"
            class="form-control"
            placeholder="Digite o titulo da postagem"
          />
        </div>
        <div class="form-group mt-4">
          <label for="titulo" class="text-monospace">Texto: </label>
          <textarea
            name=""
            id=""
            cols="30"
            rows="5"
            class="form-control"
          ></textarea>
        </div>
        <div class="d-flex mt-2 justify-content-end">
          <button type="button" class="btn btn-outline-info w-25">
            Publicar
          </button>
        </div>
      </div>
      <hr class="mt-5 mb-5" />
      <h3 class="text-center mb-4 text-monospace">Todos os comentários:</h3>
    </div>
  </div>
</div>
