<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card border-0" style="width: 18rem">
        <div class="d-flex justify-content-center">
          <img
            class="card-img-top rounded-circle w-75"
            src="../../assets/perfil.jpg"
            alt="userpic"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title text-center">Pink writter</h5>
          <p class="card-text">Desenvolvedor web-FullStack</p>
          <a
            href="https://github.com/JCAmorim11"
            target="_blank"
            class="btn btn-outline-dark justify-content-center d-flex"
            >GitHub</a
          >
          <hr class="mt-4 mb-4" />
          <h6 class="mb-3 text-monospace text-center">Pesquisar</h6>
          <input type="text" class="form-control mb-3 w-100" />
          <button class="btn btn-outline-warning w-100">Pesquisar</button>
        </div>
      </div>
    </div>
    <div class="col-md-8"></div>
  </div>
</div>
